@use "./variables" as *;
// ========================================
// FOOTER
// ========================================

.footer {
    padding: 2rem 0;

    border-top: 1px solid $border-color;
}


// ========================================
// CONTAINER
// ========================================

.footer__container {
    width: 90%;
    max-width: 1200px;

    margin: 0 auto;

    display: flex;

    align-items: center;
    justify-content: space-between;

    gap: 1rem;
}


// ========================================
// TEXT
// ========================================

.footer p {
    color: $text-secondary;

    font-size: 0.85rem;
}


// ========================================
// MOBILE
// ========================================

@media (max-width: 600px) {

    .footer__container {
        flex-direction: column;

        text-align: center;
    }

}